wheel==0.23.0
numpy
scipy
matplotlib
ipython[all]
pyzmq
pygments
patsy
pandas
sympy
nose
statsmodels
zipline
quandl
scikit-learn
pillow
nltk
q
snakeviz
html5lib 
cssselect 
pyquery 
lxml 
BeautifulSoup
Flask 
Django 
tornado
rdflib 
SPARQLWrapper
simplejson
